<p style="color: green"><%= notice %></p>

<h1>Sentences</h1>

<div id="sentences">
  <% @sentences.each do |sentence| %>
    <%= render sentence %>
    <p>
      <%= link_to "Show this sentence", sentence %>
    </p>
  <% end %>
</div>

<div id="input">
  <%= render "input", sentence: @sentence %>
</div>

<%= link_to "New sentence", new_sentence_path %>
